.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  flex-direction: row;
  justify-items: start;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 900px;
}

.coin {
  padding: 24px;
  min-width: 300px;
}

.coin, .coin-row {
  display: flex;
  align-items: center;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.coin h1 {
  font-size: 16px;
  width: 150px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.coin-price {
  width: 110px;
}

.coin-percent {
  width: 100%;
}

.green {
  color: #11d811;
}

.coin-marketcap {
  width: 155px;
}